<!DOCTYPE html>
<html>
  <head>
    <title>Musique Color Palette</title>
    <link rel="stylesheet"
          type="text/css"
          href="config.css"/>
    <style>
      body {
        color: white;
      }

      li {
        display: inline-block;
        width: 200px;
        padding: 20px;
      }

      .dark-grey {
        background-color: var(--dark-grey);
      }

      .light-grey {
        background-color: var(--light-grey);
      }

      .pink {
        background-color: var(--pink);
      }

      .salmon {
        background-color: var(--salmon);
      }

    </style>
  </head>

  <body>
    <ul>
      <li class='dark-grey'>Dark Grey</li>
      <li class='light-grey'>Light Grey</li>
      <li class='pink'>Pink</li>
      <li class='salmon'>Salmon</li>
    </ul>
  </body>
</html>
