@import 'config.css';

/* .fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
} */

/* TRANSITIONS OLD*/
/* .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.create.transition-appear,
.join.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.create.transition-appear.transition-appear-active,
.join.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.create.transition-leave,
.join.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.create.transition-leave.transition-leave-active,
.join.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.home.transition-appear {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.home.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.home.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.home.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}
 */

/* Home Page */
h1 {
    margin: 40px;
    text-align: center;
    font-size: 60px;
    color: var(--orange);
}

.home {
  min-height: 100vh;
  display: flex;
}

.home-description {
  background-color: var(--salmon);
  flex: 2;
}

.home-description > p {
  padding: 30px 50px 30px 50px;
}

.create-join-tab {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
}

.home-tab {
  background-color: var(--off-white);
  flex: 1;
  text-align: center;
}

.button {
  width: 200px;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  border: 2px solid var(--salmon);
  color: var(--salmon);
  text-align: center;
}

.button:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.accent-button {
  background-color: var(--salmon);
  color: var(--off-white);
}

.accent-button:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--off-white);
}

.create-join-tab > .button {
  margin: 4% auto;
}

.button-description {
  color: var(--dark-grey);
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}


/* Create and Join Queue */

h2 {
  color: var(--orange);
  margin-top: 20%;
}

.code-input {
  width: 90%;
  height: 6vh;
  position: relative;
  top: 12%;
  padding: 17px;
  border-radius: 5px;
  border: 2px solid var(--salmon);
}

.back {
  color: var(--grey);
  text-decoration: underline;
  position: relative;
  right: 46%;
  font-size: 28px;
}

.back:hover {
  color: var(--dark-grey);
  cursor: pointer;
}

.create, .join {
  text-align: center;
  padding: 10%;
  flex: 1;
}

.create {
  min-height: 100vh;
  background-color: var(--pink);
}

.join {
  min-height: 100vh;
  background-color: var(--pink);
}

.create>.button, .join>.button {
  position: relative;
  left: 50%;
  top: 40vh;
  width: 150px;
}

#invalid-code {
  display: none;
  color: red;
}
