@import 'config.css';

/* Home Page */
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

/* Create Queue */
.create {
  height: 100vh;
  background-color: var(--salmon);
}

/* Join Queue */
.create {
  height: 100vh;
  background-color: var(--pink);
}
